/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////     NAVBAR      ////////////////////// */
/* /////////////////////////////////////////////////////////////// */
.nav-bar {
  position: fixed;
  top: 0;
  height: 7vh; /* because it's fixed positioned */
  width: 90vw;

  display: flex;
  justify-content: space-between;

  z-index: 2;
  background-color: #fff;
}

.nav-list {
  display: flex;
}
.nav-link {
  padding: 1em;
}
.nav-link.active,
.nav-link:hover {
  color: #5ece7b;
  border-bottom: 1px solid #5ece7b;
}

.logo {
  width: 30px;
  display: flex;
  align-items: center;
}

.nav-options {
  display: flex;
  align-items: center;
}
.nav-option {
  padding: 1em;
}
.nav-cart {
  cursor: pointer;
  position: relative;
}
.nav-cart-amount {
  position: absolute;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: 0.7em;
}
.nav-cart-amount span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  line-height: 100%;
}

/* ////////////////////////  Currency Selector   ////////////////////// */
.currency-selector {
  position: relative;
  font-weight: 500;
}
.current-currency {
  margin: 0;
  padding: 0;

  /* not all options are the same width, 
  when changing there was an unwanted behaviour in the flex navbar */
  width: 10px;
  cursor: pointer;
}
.currency-list {
  position: absolute;
  left: 0;
  top: 90%;

  width: max-content;
  box-shadow: rgba(149, 157, 165, 0.397) 0px 8px 24px;
  z-index: 4;
  background-color: #fff;
}
.currency-option {
  padding: 0.5em 1em;
  cursor: default;
}
.currency-option:hover,
.currency-option.active {
  background-color: #eee;
}
.currency-option.active {
  border: 1px solid #ccc;
}

/* ////////////////////////  Category Name  ////////////////////// */

.category-name {
  font-size: 2rem;
  text-transform: capitalize;
  position: relative;
  margin: 3rem;
  font-weight: 500;
}

/* ////////////////////////  Content Area  ////////////////////// */
.content-area {
  padding-top: 7vh;
  padding-bottom: 3vh;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////    Product Attribute    ////////////////// */
/* /////////////////////////////////////////////////////////////// */
.attribute-options {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  margin-bottom: 1em;
}

.attribute-title {
  margin-bottom: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.attribute-option {
  margin-right: 0.5em;
}

.swatch-attribute {
  height: 1.5em;
  width: 1.5em;
}

.swatch-attribute div {
  height: 100%;
}

.swatch-attribute.active {
  opacity: 1;
  outline: 2px solid #5ece7b;
  padding: 0.2em;
}

.txt-attribute {
  border: 1px solid black;
  padding: 0.5rem;
  margin-right: 0.5rem;
  min-width: 10%;
  display: flex;
  justify-content: center;
  cursor: default;
}
.txt-attribute.active {
  background-color: #000;
  color: #fff;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////      Product Cards      ////////////////// */
/* /////////////////////////////////////////////////////////////// */
.products-list {
  display: flex;
  flex-wrap: wrap;
}

.product-wrapper {
  width: calc(100% / 3);
  padding: 5%;
}

.product-card {
  padding: 1em;
}

.product-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-card.disabled {
  opacity: 0.4;
  cursor: default;
  position: relative;
}

.product-card.disabled .image-wrapper {
  position: relative;
}
.product-card.disabled .image-wrapper::after {
  content: "OUT OF STOCK";
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card .image-wrapper {
  /* width: 25vw; */
  height: 25vh;
  margin-bottom: 1em;
  position: relative;
}

.product-card img {
  margin: auto;
  /* max-width: 100%; */
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-card .icon-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #5ece7b;
}

.product-card .icon-wrapper img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card .product-title {
  font-weight: 300;
  color: #1d1f22;
  margin-bottom: 0.5em;
}

.product-card .product-price {
  font-weight: 500;
  color: #1d1f22;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////       Drop Select       ////////////////// */
/* /////////////////////////////////////////////////////////////// */
.drop-select {
  position: relative;
  display: flex;
  align-items: center;
  margin: 3rem;
}

.current-selected {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.drop-select .options {
  position: absolute;
  left: 0;
  top: 100%;

  width: max-content;
  box-shadow: rgba(149, 157, 165, 0.253) 0px 8px 24px;
}
.drop-select .option {
  padding: 0.5em 1em;
  cursor: default;
}
.drop-select .option:hover,
.drop-select .option.active {
  background-color: #eee;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////      Product Page       ////////////////// */
/* /////////////////////////////////////////////////////////////// */
.product-page {
  padding: 5%;
  display: flex;
  align-items: flex-start;
}

.pictures-list {
  width: 8%;
}

.pictures-list .image-wrapper {
  height: 10vh;
  width: 100%;
  margin-bottom: 1rem;
  padding: 5%;
  display: flex;
  justify-content: center;
}

.selected-photo {
  width: 62%;
  display: flex;
  justify-content: center;
  padding: 0 5%;
}

.product-info {
  width: 30%;
}

.product-info .product-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.product-info .button-wrapper button {
  width: 100%;
  border: none;
  background-color: #5ece7b;
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
}
.product-info .button-wrapper button:hover {
  background-color: #4da364;
}
.product-info .button-wrapper button:disabled {
  opacity: 0.6;
  pointer-events: none;
  background-color: gray;
}

.product-info .valid-error {
  color: #f00;
}

.product-info .product-description {
  margin-top: 1rem;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////      CART       ////////////////////// */
/* /////////////////////////////////////////////////////////////// */

/* ////////////////////////    MINI CART    ////////////////////// */

.mini-cart {
  position: fixed;
  top: 7vh;
  right: 0;

  width: 25vw;
  max-height: 70vh;
  overflow: auto;
  padding: 1vw;
  margin-right: 4vw;
  z-index: 3;

  font-size: 0.6em;
  background-color: #fff;
}

.mini-cart .total {
  display: flex;
  justify-content: space-between;
}

.cart-items-list {
  border-bottom: 1px solid rgb(187, 186, 186);
}

.mini-cart .total {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1em;
}

.mini-cart .buttons {
  display: flex;
  justify-content: space-between;
}
.mini-cart .view-bag {
  background-color: transparent;
  border: 1px solid #000;
  width: 45%;
  padding: 0.8em;
  text-transform: uppercase;
}
.mini-cart .checkout {
  background-color: #5ece7b;
  border: 1px solid #5ece7b;
  color: #fff;
  width: 45%;
  padding: 0.8em;
  text-transform: uppercase;
}

/* ////////////////////////    CART ITEM    ////////////////////// */
.cart-item {
  margin: 0;
  padding: 0.8em;
  border-top: 1px solid rgb(187, 186, 186);
  display: flex;
  justify-content: space-between;
}

.cart-item .item-brand {
  font-weight: 600;
}

.cart-item .item-name {
  font-weight: 400;
}

.cart-item .item-price {
  font-weight: 700;
}

.amount-controls-wrapper {
  display: flex;
  align-self: flex-start;
}

.plus-minus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1vw;
}

.plus-minus .amount {
  align-self: center;
  font-weight: 700;
}

.plus-minus .plus,
.plus-minus .minus {
  font-size: 1.5em;
  border: 1px solid #000;
  background-color: transparent;
}
.plus-minus .plus:hover,
.plus-minus .minus:hover {
  background-color: #eee;
}

.cart-item--pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cart-item--pic img {
  max-width: 10em;
  /* min-width: 5vw; */
}

.arrows {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.left-arrow,
.right-arrow {
  background-color: rgb(85, 84, 84);
  color: #fff;
  /* padding-inline: 0.3em; */
  padding: 0.2em 0.3em;
  cursor: default;
}
.left-arrow:hover,
.right-arrow:hover {
  background-color: rgb(153, 153, 153);
}

/* ////////////////////////    CHECKOUT    ////////////////////// */

.checkout-info {
  margin-top: 2rem;
  display: flex;
}

.checkout-info .left {
  margin-right: 0.3em;
}
.checkout-info .right {
  font-weight: 700;
}
.order-btn {
  background-color: #4da364;
  border: 1px solid #4da364;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5rem;
  width: 20%;
}
.order-btn:hover {
  background-color: #5ece7b;
  border-color: #5ece7b;
}

/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////     PORTAL      ////////////////////// */
/* /////////////////////////////////////////////////////////////// */

.backdrop {
  position: fixed;
  top: 7vh;
  left: 0;
  width: 100%;
  height: 93vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.75);
}

/* .modal-overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
} */
